body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.primary-heading {
  background-color: black;
  margin-top: -60px;
}
.primary-heading h1 {
  font-size: 5rem;
  color: aquamarine;
  font-family: "Baloo Da 2", cursive;
}
.primary-heading h4 {
  color: aqua;
}
.primary-heading h4:hover {
  font-weight: lighter;
}

.alignheading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin-top: -100px;
}
